<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dal.dao.gas_silverbolt.DetailModelProgramDAO">
  <resultMap id="BaseResultMap" type="dal.model.gas_silverbolt.DetailModelProgramDO">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="program_name" jdbcType="VARCHAR" property="programName" />
    <result column="program_no" jdbcType="VARCHAR" property="programNo" />
    <result column="model_code" jdbcType="VARCHAR" property="modelCode" />
    <result column="program_type" jdbcType="VARCHAR" property="programType" />
    <result column="operate_id" jdbcType="VARCHAR" property="operateId" />
    <result column="program_memo" jdbcType="VARCHAR" property="programMemo" />
    <result column="raw_add_time" jdbcType="TIMESTAMP" property="rawAddTime" />
    <result column="raw_update_time" jdbcType="TIMESTAMP" property="rawUpdateTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="dal.model.gas_silverbolt.DetailModelProgramDO">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="detail_head_filter" jdbcType="LONGVARCHAR" property="detailHeadFilter" />
    <result column="detail_head_order_by" jdbcType="LONGVARCHAR" property="detailHeadOrderBy" />
    <result column="detail_head_show" jdbcType="LONGVARCHAR" property="detailHeadShow" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--
      WARNING - @mbg.generated
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--
      WARNING - @mbg.generated
    -->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, program_name, program_no, model_code, program_type, operate_id, program_memo, 
    raw_add_time, raw_update_time
  </sql>
  <sql id="Blob_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    detail_head_filter, detail_head_order_by, detail_head_show
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="dal.model.gas_silverbolt.DetailModelProgramDOExample" resultMap="ResultMapWithBLOBs">
    <!--
      WARNING - @mbg.generated
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from detail_model_program
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="dal.model.gas_silverbolt.DetailModelProgramDOExample" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from detail_model_program
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="dal.model.gas_silverbolt.DetailModelProgramDOExample">
    <!--
      WARNING - @mbg.generated
    -->
    delete from detail_model_program
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <select id="countByExample" parameterType="dal.model.gas_silverbolt.DetailModelProgramDOExample" resultType="java.lang.Long">
    <!--
      WARNING - @mbg.generated
    -->
    select count(*) from detail_model_program
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--
      WARNING - @mbg.generated
    -->
    update detail_model_program
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.programName != null">
        program_name = #{record.programName,jdbcType=VARCHAR},
      </if>
      <if test="record.programNo != null">
        program_no = #{record.programNo,jdbcType=VARCHAR},
      </if>
      <if test="record.modelCode != null">
        model_code = #{record.modelCode,jdbcType=VARCHAR},
      </if>
      <if test="record.programType != null">
        program_type = #{record.programType,jdbcType=VARCHAR},
      </if>
      <if test="record.operateId != null">
        operate_id = #{record.operateId,jdbcType=VARCHAR},
      </if>
      <if test="record.programMemo != null">
        program_memo = #{record.programMemo,jdbcType=VARCHAR},
      </if>
      <if test="record.rawAddTime != null">
        raw_add_time = #{record.rawAddTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.rawUpdateTime != null">
        raw_update_time = #{record.rawUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.detailHeadFilter != null">
        detail_head_filter = #{record.detailHeadFilter,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.detailHeadOrderBy != null">
        detail_head_order_by = #{record.detailHeadOrderBy,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.detailHeadShow != null">
        detail_head_show = #{record.detailHeadShow,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    <!--
      WARNING - @mbg.generated
    -->
    update detail_model_program
    set id = #{record.id,jdbcType=BIGINT},
      program_name = #{record.programName,jdbcType=VARCHAR},
      program_no = #{record.programNo,jdbcType=VARCHAR},
      model_code = #{record.modelCode,jdbcType=VARCHAR},
      program_type = #{record.programType,jdbcType=VARCHAR},
      operate_id = #{record.operateId,jdbcType=VARCHAR},
      program_memo = #{record.programMemo,jdbcType=VARCHAR},
      raw_add_time = #{record.rawAddTime,jdbcType=TIMESTAMP},
      raw_update_time = #{record.rawUpdateTime,jdbcType=TIMESTAMP},
      detail_head_filter = #{record.detailHeadFilter,jdbcType=LONGVARCHAR},
      detail_head_order_by = #{record.detailHeadOrderBy,jdbcType=LONGVARCHAR},
      detail_head_show = #{record.detailHeadShow,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--
      WARNING - @mbg.generated
    -->
    update detail_model_program
    set id = #{record.id,jdbcType=BIGINT},
      program_name = #{record.programName,jdbcType=VARCHAR},
      program_no = #{record.programNo,jdbcType=VARCHAR},
      model_code = #{record.modelCode,jdbcType=VARCHAR},
      program_type = #{record.programType,jdbcType=VARCHAR},
      operate_id = #{record.operateId,jdbcType=VARCHAR},
      program_memo = #{record.programMemo,jdbcType=VARCHAR},
      raw_add_time = #{record.rawAddTime,jdbcType=TIMESTAMP},
      raw_update_time = #{record.rawUpdateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>